*,
*::before,
*::after {
  box-sizing: border-box;
}

// html {
//   scroll-behavior: smooth;
// }

/* Base */
body {
  margin: 0;
  padding: 0;
  color: #31261a;
  background-color: #faf4ea;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;

  scroll-snap-type: red;

  cursor: url('../images/cursor132.png'), auto;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 24px;

  @media screen and (min-width: 600px) {
    .container {
      max-width: 480px;
    }
  }

  @media screen and (min-width: 900px) {
    .container {
      max-width: 768px;
    }
  }

  @media screen and (min-width: 1280px) {
    .container {
      max-width: 1280px;
    }
  }
}

a {
  cursor: url('../images/cursor232.png'), auto;
}

button {
  cursor: url('../images/cursor232.png'), auto;
}

// html {
//   scroll-behavior: auto;
// }

// scroll-container {
//   scroll-behavior: smooth;
// }

// add scrollbar
.window {
  overflow: auto;
  border-radius: 5px 0 0 5px;
}

::-webkit-scrollbar {
  background: #faf4ea;
  background: #819b57;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #faf4ea;
}

body.modal-open {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 p {
  margin-top: 0;
}

ul {
  /* убирраем маркеровку */
  list-style: none;

  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
