@import './../../sass/utils/variables';

.hero__button {
  display: block;
  margin: 0 auto;
  padding: 18px 30px;
  border-radius: 10px;
  background-color: $color-brand-light;
  color: $color-primary-light;
  border: 1px solid $color-brand-light;
}

.hero__button:focus,
.hero__button:hover {
  background-color: $color-primary-light;
  color: $color-primary-dark;
  border: 1px solid black;
}
