.Flex {
  display: flex;
  //   justify-content: center;
  // align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  gap: 20px;
}
